ul li{list-style:none}
html,body{padding:0;margin:0;font-family:'Microsoft YaHei'}
html,body,.box{width:100%;height:100%;padding:0;margin:0;overflow:hidden}
.box{background-color:#0d152f;background-size:100% 100%;position:relative}
.bgnoneBox{background-image:none}
.boxDelayAndTraffic{height:9.8rem;width:18rem;overflow:hidden}
.boxDelayAndTraffic .topBox{height:6.274rem;width:100%}
.boxDelayAndTraffic .bottomBox{height:3.526rem;width:100%}
.boxDelayAndTraffic .topLeft{width:4.26rem;height:100%;overflow:hidden;float:left}
.boxDelayAndTraffic .topLeft ul{width:4.26rem;height:5.2rem;padding:0;margin-top:.8rem}
.boxDelayAndTraffic .topLeft ul li{padding:0;margin:0;width:4.26rem;height:.94rem;margin:.25rem 0;position:relative;cursor:pointer}
.boxDelayAndTraffic .topLeft ul li:nth-child(1){background:url(../../img/runStateImg/a.png) no-repeat;background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li:nth-child(1).on{background:url(../../img/runStateImg/a-on.png);background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li:nth-child(2){background:url(../../img/runStateImg/b.png) no-repeat;background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li:nth-child(2).on{background:url(../../img/runStateImg/b-on.png);background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li:nth-child(3){background:url(../../img/runStateImg/c.png) no-repeat;background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li:nth-child(3).on{background:url(../../img/runStateImg/c-on.png);background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li:nth-child(4){background:url(../../img/runStateImg/d.png) no-repeat;background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li:nth-child(4).on{background:url(../../img/runStateImg/d-on.png);background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li span{position:absolute;color:#04cbf5;top:.1rem;right:1.4rem;font-size:.20rem}
.boxDelayAndTraffic .topRight{position:relative;width:13.74rem;height:6.174rem;float:left}
.boxDelayAndTraffic .bottomList{background-image:url(../../img/delayAndTraffic/sq.png);background-size:100% 100%}
@media screen and (max-width:768px){.box{overflow-x:scroll}
}
.boxSrollY{overflow-y:scroll}
.jz{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto}
.showSqure{width:18.16rem;height:9rem;position:absolute;margin:auto;background-size:100% 100%}
@-webkit-keyframes z2{from{-webkit-transform:rotateZ(0deg);-moz-transform:rotateZ(0deg);-ms-transform:rotateZ(0deg);transform:rotateZ(0deg)}
to{-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);-ms-transform:rotateZ(360deg);transform:rotateZ(360deg)}
}
@-webkit-keyframes z1{from{-webkit-transform:rotateZ(0deg);-moz-transform:rotateZ(0deg);-ms-transform:rotateZ(0deg);transform:rotateZ(0deg)}
to{-webkit-transform:translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);-moz-transform:translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);-ms-transform:translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);transform:translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1)}
}
@keyframes myfirst{0%{height:.27rem}
50%{height:.73rem}
100%{height:.27rem}
}
@-webkit-keyframes myfirst{0%{height:.27rem}
50%{height:.73rem}
100%{height:.27rem}
}
@keyframes myfirst2{0%{height:.27rem}
50%{height:.73rem}
100%{height:.27rem}
}
@-webkit-keyframes myfirst2{0%{height:.27rem}
50%{height:.73rem}
100%{height:.27rem}
}
@keyframes myfirst3{0%{height:.27rem}
50%{height:.73rem}
100%{height:.27rem}
}
@-webkit-keyframes myfirst3{0%{height:.27rem}
50%{height:.73rem}
100%{height:.27rem}
}
@-webkit-keyframes grow{0%{-webkit-transform:scale(1)}
30%{-webkit-transform:scale(1.5)}
100%{-webkit-transform:scale(1)}
}
@-moz-keyframes grow{0%{-moz-transform:scale(1)}
30%{-moz-transform:scale(1.5)}
100%{-moz-transform:scale(1)}
}
@keyframes grow{0%{transform:scale(1)}
30%{transform:scale(1.5)}
100%{transform:scale(1)}
}
@-webkit-keyframes bgLbx{0%{background:0}
100%{background:url("../../../../img/indexImg/liBg.png") no-repeat 100% 100%}
}
@-moz-keyframes grow{0%{background:0}
100%{background:url("../../../../img/indexImg/liBg.png") no-repeat 100% 100%}
}
@keyframes grow{0%{background:0}
100%{background:url("../../../../img/indexImg/liBg.png") no-repeat 100% 100%}
}
@-webkit-keyframes loginMap{from{-webkit-transform:rotateZ(0deg);-moz-transform:rotateZ(0deg);-ms-transform:rotateZ(0deg);transform:rotateZ(0deg)}
to{-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);-ms-transform:rotateZ(360deg);transform:rotateZ(360deg)}
}
@keyframes loginMap{from{-webkit-transform:rotateZ(0deg);-moz-transform:rotateZ(0deg);-ms-transform:rotateZ(0deg);transform:rotateZ(0deg)}
to{-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);-ms-transform:rotateZ(360deg);transform:rotateZ(360deg)}
}
.tcBox ::-webkit-scrollbar{width:2px;height:5px}
.tcBox ::-webkit-scrollbar-thumb{border-radius:5px;-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2);background:rgba(0,0,0,0.2)}
.tcBox ::-webkit-scrollbar-thumb:hover{border-radius:5px;-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2);background:rgba(0,0,0,0.3)}
.tcBox1{display:none;margin:.3rem auto;width:7.65rem;height:9.3rem;overflow:auto;background-color:#0d152f;border:.01rem solid #0794b9;position:absolute;top:0;left:0;right:0;z-index:5;-webkit-user-select:none;user-select:none}
.tcBox1 .tcTitle{height:1.2rem;width:7.65rem;line-height:1.2rem;text-align:center;font-size:16px;color:#04cbf5}
.tcBox1 .tcContiner{width:7.65rem;height:11rem;margin-top:.2rem}
.squaBox{position:absolute;top:.2rem;width:.9rem;height:.56rem;border:.02rem dashed #078eb3;font-size:12px;color:#05b1d8;cursor:pointer}
.squaBox span{display:inline-block;width:.9rem;height:.56rem;line-height:.5rem;text-align:center}
.circleBox{position:absolute;left:2.13rem;width:1rem;height:.42rem;border:.02rem dashed #078eb3;border-radius:.21rem;font-size:12px;color:#05b1d8}
.circleBox span{display:inline-block;width:1rem;height:.42rem;line-height:.4rem;text-align:center}
.tcContent .borderCon{border:.01rem solid #3cd6f7}
.tcContent .dashedCon{border:1px dashed #3cd6f7}
.tcContent{width:4.97rem;height:100%;margin:0 1.34rem;position:relative}
.tcContent .borderSolid{width:.83rem;height:.83rem;transform:rotate(135deg);-webkit-transform-origin:center center;transform-origin:center center;border-radius:.04rem;border:.01rem solid #3cd6f7}
.tcContent .borderDashed{width:.83rem;height:.83rem;transform:rotate(135deg);-webkit-transform-origin:center center;transform-origin:center center;border-radius:.04rem;border:1px dashed #3cd6f7}
.tcContent .nodeBox{position:absolute;left:.2rem;font-size:.12rem}
.tcContent .nodeBox .nodeText{position:absolute;top:.2rem;left:-0.1rem;display:inline-block;color:#3cd6f7;height:.3rem;width:1rem;word-break:break-all;word-wrap:break-word;line-height:.22rem;text-align:center}
.tcContent .nodeBox1{top:.3rem;left:.2rem}
.tcContent .nodeBox2{top:2rem}
.tcContent .nodeBox3{top:3.7rem}
.tcContent .nodeBox4{top:8.4rem}
.tcContent .nodeBox5{top:6.5rem}
.tcContent .nodeBox6{top:10.5rem}
.tcContent .nodeBox7{top:15rem}
.tcContent .nodeBox8{top:16.8rem}
.lineDown{position:absolute;left:.61rem}
.lineDown .lineW{display:inline-block;width:.02rem;height:.27rem;background-color:#3cd6f7;position:absolute;top:0}
.lineDown:after{position:absolute;top:.1rem;left:-0.2rem;font-size:12px;color:#3cd6f7;content:'N'}
.lineDown .triangle{display:inline-block;width:0;height:0;border-left:.035rem solid transparent;border-right:.035rem solid transparent;border-top:.13rem solid #3cd6f7;position:absolute;top:.27rem;left:-0.02rem}
.line1{top:1.4rem}
.line2{top:3.1rem}
.line3{top:4.8rem}
.line3 .lineW{height:1.27rem}
.line3 .triangle{top:1.27rem}
.line4{top:7.6rem}
.line4 .lineW{height:.5rem}
.line4 .triangle{top:.5rem}
.line5{top:9.6rem}
.line5 .lineW{height:.5rem}
.line5 .triangle{top:.5rem}
.line6{top:11.6rem}
.line6 .lineW{height:3.1rem}
.line6 .triangle{top:3.1rem}
.line7{top:16rem}
.line7 .lineW{height:.5rem}
.line7 .triangle{top:.5rem}
.squaBox1{left:2.62rem}
.squaBox2{left:2.62rem}
.squaBox31{left:3.9rem}
.squaBox32{top:.98rem;left:3.9rem}
.squaBox33{top:1.8rem;left:3.9rem}
.squaBox34{top:2.6rem;left:3.9rem}
.squaBox35{top:3.4rem;left:3.9rem}
.squaBox42{top:.98rem;left:3.9rem}
.squaBox41{left:3.9rem}
.squaBox5{left:2.62rem}
.squaBox72{top:.98rem;left:2.2rem}
.squaBox71{left:2.2rem}
.squaBox8{left:3.9rem;width:2rem;height:3rem}
.squaBox8 span{width:2rem;line-height:.33rem}
.circleBox31{top:.2rem}
.circleBox32{top:.98rem}
.circleBox33{top:1.8rem}
.circleBox34{top:2.6rem}
.circleBox41{top:.2rem}
.circleBox42{top:.98rem}
.lineRight{position:absolute;left:.61rem;top:.43rem}
.lineRight .lineW{display:inline-block;width:.3rem;height:.02rem;background-color:#3cd6f7;position:absolute;top:0}
.lineRight:after{position:absolute;top:-0.3rem;left:.2rem;font-size:12px;color:#3cd6f7;content:'Y'}
.lineRight .triangle{display:inline-block;width:0;height:0;border-left:.035rem solid transparent;border-right:.035rem solid transparent;border-top:.13rem solid #3cd6f7;border-top:.035rem solid transparent;border-bottom:.035rem solid transparent;border-left:.13rem solid #3cd6f7;position:absolute;top:-0.02rem;left:.3rem}
.brokenLine{position:absolute;left:.61rem;top:.43rem}
.brokenLine .lineW{display:inline-block;width:.3rem;height:.02rem;background-color:#3cd6f7;position:absolute;top:0}
.brokenLine .triangle{display:inline-block;width:0;height:0;border-left:.035rem solid transparent;border-right:.035rem solid transparent;border-top:.13rem solid #3cd6f7;border-top:.035rem solid transparent;border-bottom:.035rem solid transparent;border-left:.13rem solid #3cd6f7;position:absolute;top:-0.02rem;left:.3rem}
.brokenLine .lineD{display:inline-block;width:.02rem;height:.7rem;background-color:#3cd6f7;position:absolute;top:-0.7rem}
.bL1{left:1.5rem;top:1.2rem}
.bL2{left:1.5rem;top:1.9rem}
.bL3{left:1.51rem;top:2.7rem}
.bL4{left:1.51rem;top:3.7rem}
.bL4 .lineW{width:2.1rem}
.bL4 .triangle{left:2.1rem}
.lineR1{left:1.2rem}
.lineR1 .lineW{width:1.13rem}
.lineR1 .triangle{left:1.13rem}
.lineR2{left:1.2rem}
.lineR2 .lineW{width:1.13rem}
.lineR2 .triangle{left:1.13rem}
.lineR31{left:1.2rem}
.lineR31 .lineW{width:.57rem}
.lineR31 .triangle{left:.57rem}
.lineR32{left:3.3rem}
.lineR33{top:1.2rem;left:3.3rem}
.lineR34{top:2rem;left:3.3rem}
.lineR35{top:2.7rem;left:3.3rem}
.lineR8{left:1.2rem}
.lineR8 .lineW{width:2.5rem}
.lineR8 .triangle{left:2.5rem}
.redBg{border-color:#b30658!important;background-image:radial-gradient(transparent,#b30658);color:rgba(217,218,222,0.7)}
.norBg{border:.02rem dashed #078eb3;background:rgba(13,21,47,0.3);color:#078eb3}
.tcContent .borderCon{border:.01rem solid #3cd6f7}
.tcContent .dashedCon{border:1px dashed #3cd6f7}
