ul li{list-style:none}
html,body{padding:0;margin:0;font-family:'Microsoft YaHei'}
html,body,.box{width:100%;height:100%;padding:0;margin:0;overflow:hidden}
.box{background-color:#0d152f;background-size:100% 100%;position:relative}
.bgnoneBox{background-image:none}
.boxDelayAndTraffic{height:9.8rem;width:18rem;overflow:hidden}
.boxDelayAndTraffic .topBox{height:6.274rem;width:100%}
.boxDelayAndTraffic .bottomBox{height:3.526rem;width:100%}
.boxDelayAndTraffic .topLeft{width:4.26rem;height:100%;overflow:hidden;float:left}
.boxDelayAndTraffic .topLeft ul{width:4.26rem;height:5.2rem;padding:0;margin-top:.8rem}
.boxDelayAndTraffic .topLeft ul li{padding:0;margin:0;width:4.26rem;height:.94rem;margin:.25rem 0;position:relative;cursor:pointer}
.boxDelayAndTraffic .topLeft ul li:nth-child(1){background:url(../../img/runStateImg/a.png) no-repeat;background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li:nth-child(1).on{background:url(../../img/runStateImg/a-on.png);background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li:nth-child(2){background:url(../../img/runStateImg/b.png) no-repeat;background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li:nth-child(2).on{background:url(../../img/runStateImg/b-on.png);background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li:nth-child(3){background:url(../../img/runStateImg/c.png) no-repeat;background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li:nth-child(3).on{background:url(../../img/runStateImg/c-on.png);background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li:nth-child(4){background:url(../../img/runStateImg/d.png) no-repeat;background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li:nth-child(4).on{background:url(../../img/runStateImg/d-on.png);background-size:100% 100%}
.boxDelayAndTraffic .topLeft ul li span{position:absolute;color:#04cbf5;top:.1rem;right:1.4rem;font-size:.20rem}
.boxDelayAndTraffic .topRight{position:relative;width:13.74rem;height:6.174rem;float:left}
.boxDelayAndTraffic .bottomList{background-image:url(../../img/delayAndTraffic/sq.png);background-size:100% 100%}
@media screen and (max-width:768px){.box{overflow-x:scroll}
}
.boxSrollY{overflow-y:scroll}
.jz{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto}
.showSqure{width:18.16rem;height:9rem;position:absolute;margin:auto;background-size:100% 100%}
@-webkit-keyframes z2{from{-webkit-transform:rotateZ(0deg);-moz-transform:rotateZ(0deg);-ms-transform:rotateZ(0deg);transform:rotateZ(0deg)}
to{-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);-ms-transform:rotateZ(360deg);transform:rotateZ(360deg)}
}
@-webkit-keyframes z1{from{-webkit-transform:rotateZ(0deg);-moz-transform:rotateZ(0deg);-ms-transform:rotateZ(0deg);transform:rotateZ(0deg)}
to{-webkit-transform:translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);-moz-transform:translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);-ms-transform:translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);transform:translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1)}
}
@keyframes myfirst{0%{height:.27rem}
50%{height:.73rem}
100%{height:.27rem}
}
@-webkit-keyframes myfirst{0%{height:.27rem}
50%{height:.73rem}
100%{height:.27rem}
}
@keyframes myfirst2{0%{height:.27rem}
50%{height:.73rem}
100%{height:.27rem}
}
@-webkit-keyframes myfirst2{0%{height:.27rem}
50%{height:.73rem}
100%{height:.27rem}
}
@keyframes myfirst3{0%{height:.27rem}
50%{height:.73rem}
100%{height:.27rem}
}
@-webkit-keyframes myfirst3{0%{height:.27rem}
50%{height:.73rem}
100%{height:.27rem}
}
@-webkit-keyframes grow{0%{-webkit-transform:scale(1)}
30%{-webkit-transform:scale(1.5)}
100%{-webkit-transform:scale(1)}
}
@-moz-keyframes grow{0%{-moz-transform:scale(1)}
30%{-moz-transform:scale(1.5)}
100%{-moz-transform:scale(1)}
}
@keyframes grow{0%{transform:scale(1)}
30%{transform:scale(1.5)}
100%{transform:scale(1)}
}
@-webkit-keyframes bgLbx{0%{background:0}
100%{background:url("../../../../img/indexImg/liBg.png") no-repeat 100% 100%}
}
@-moz-keyframes grow{0%{background:0}
100%{background:url("../../../../img/indexImg/liBg.png") no-repeat 100% 100%}
}
@keyframes grow{0%{background:0}
100%{background:url("../../../../img/indexImg/liBg.png") no-repeat 100% 100%}
}
@-webkit-keyframes loginMap{from{-webkit-transform:rotateZ(0deg);-moz-transform:rotateZ(0deg);-ms-transform:rotateZ(0deg);transform:rotateZ(0deg)}
to{-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);-ms-transform:rotateZ(360deg);transform:rotateZ(360deg)}
}
@keyframes loginMap{from{-webkit-transform:rotateZ(0deg);-moz-transform:rotateZ(0deg);-ms-transform:rotateZ(0deg);transform:rotateZ(0deg)}
to{-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);-ms-transform:rotateZ(360deg);transform:rotateZ(360deg)}
}
