body {
    font-family: '微软雅黑';
}

ul,
li {
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    background-color: #0d152f;
}

.box {
    background: url(../../img/data/bg3.png) no-repeat;
    background-size: 19.2rem auto;
    background-color: #0d152f;
    width: 19.2rem;
    height: 10.8rem;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -9.6rem;
    margin-top: -5.4rem;
    overflow: hidden;
}

.logo {
    width: 3.27rem;
    height: 1rem;
    background: url(../../img/data/logo.png) no-repeat;
    background-size: 3.27rem auto;
    float: left;
    margin-top: 0.45rem;
    margin-left: 0.55rem;
}

.top-right {
    float: right;
    width: 3.5rem;
    height: 0.4rem;
    margin-top: 0.2rem;
    margin-right: 1.1rem;
}

.top-right li {
    float: left;
    width: 1rem;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.18rem;
    color: #24caf3;
    cursor: pointer;
}

.top-right li span {
    display: inline-block;
    width: 0.3rem;
    height: 0.4rem;
}

.top-right .proud {
    width: 1.9rem;
}

.top-right .proud span {
    background: url(../../img/data/top-right/proud.png) no-repeat center;
    background-size: cover;
    vertical-align: middle;
    margin-right: 0.1rem;
}

.top-right .msg {
    width: 0.3rem;
    background: url(../../img/data/top-right/msg.png) no-repeat center;
    background-size: cover;
    margin-right: 0.4rem;
}

.top-right .quit {
    width: 0.3rem;
    background: url(../../img/data/top-right/quit.png) no-repeat center;
    background-size: cover;
}

.btn-top {
    float: left;
    background: url(../../img/data/import/btn-top.png) no-repeat;
    background-size: 100% auto;
    width: 6rem;
    height: 0.75rem;
    margin-top: 0.86rem;
    margin-left: 1.3rem;
}

.btn-group {
    width: 6rem;
    height: 0.65rem;
    margin-top: 0.12rem;
}

.btn-group li {
    font-size: 0.18rem;
    color: #fff;
    width: 1.47rem;
    height: 0.52rem;
    line-height: 0.52rem;
    float: left;
    margin: 0 0.25rem;
    background: url(../../img/data/import/btn-bg.png) no-repeat center;
    background-size: 100% auto;
    text-align: center;
    cursor: pointer;
}

.btn-group li:hover {
    background-image: url(../../img/data/import/btn-bg-on.png);
}

.btn-group li img {
    display: inline-block;
    vertical-align: middle;
    width: 0.24rem;
    height: 0.22rem;
    margin-left: 0.05rem;
}

.btn-group li img.a {
    width: 0.37rem;
    height: 0.37rem;
    margin: 0;
}

.search-box {
    width: 3.6rem;
    height: 0.45rem;
    background: url(../../img/data/import/search.png) no-repeat center;
    background-size: 100% auto;
    float: right;
    clear: right;
    margin-top: 0.35rem;
    margin-right: 2.5rem;
}

.search-box>input {
    height: 100%;
    width: 2.5rem;
    margin-left: 0.7rem;
    display: inherit;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    color: #fff;
    font-size: 0.12rem;
}

.main {
    clear: both;
    margin-left: 0.47rem;
    width: 18.4rem;
    height: 8.8rem;
}

.main .menu {
    width: 2.7rem;
    overflow: hidden;
    float: left;
}

.main .menu li {
    height: 0.73rem;
    line-height: 0.73rem;
    font-size: 0.2rem;
    color: #fff;
    text-indent: 1rem;
    background: no-repeat 0.35rem center;
    background-size: 0.4rem auto;
}

.main .menu li a {
    color: #fff;
    text-decoration: none;
}

.main .menu li:nth-child(1) {
    background-image: url(../../img/data/list/ico1.png)
}

.main .menu li:nth-child(2) {
    background-image: url(../../img/data/list/ico2.png)
}

.main .menu li:nth-child(3) {
    background-image: url(../../img/data/list/ico3.png)
}

.main .menu li:nth-child(4) {
    background-image: url(../../img/data/list/ico4.png)
}

.main .menu li:nth-child(5) {
    background-image: url(../../img/data/list/ico5.png)
}

.main .menu li:nth-child(6) {
    background-image: url(../../img/data/list/ico6.png)
}

.main .menu li:nth-child(7) {
    background-image: url(../../img/data/list/ico7.png)
}

.main .list {
    float: left;
    width: 2.6rem;
    height: 8.5rem;
    overflow: auto;
    margin-left: 0.12rem;
    font-size: 0.2rem;
    color: #00bbec;
}

 

.main .list .content>li {
    height: 0.73rem;
    line-height: 0.73rem;
    font-size: 0.2rem;
    color: #00bbec;
    text-indent: 0.5rem;
    cursor: pointer;
}

.main .list .item-list {
    overflow: hidden;
    width: 100%;
    display: none;
}

.main .list .item-list.on {
    display: block;
}

.main .list .item-list>li {
    height: 0.73rem;
    line-height: 0.73rem;
    font-size: 0.2rem;
    color: #00bbec;
    cursor: pointer;
}

.main .list .item-list>li:hover {
    background: linear-gradient(rgba(0, 187, 236, .5), rgba(0, 187, 236, 0), rgba(0, 187, 236, .5));
}

.main .list .item-list>li img {
    vertical-align: middle;
    width: 0.28rem;
    height: 0.27rem;
    margin-right: 0.1rem;
    margin-left: 0.5rem;
}

#data-list {
    width: 12.64rem;
    height: 8.6rem;
    float: left;
    margin-left: 0.1rem;
    font-size: 0.18rem;
    color: #00bbec;
    margin-top: 0.01rem;
}

#data-list .title {
    height: 0.65rem;
    background-color: #0c2642;
}

#data-list .title li {
    float: left;
    height: 0.65rem;
    line-height: 0.65rem;
    text-align: center;
    width: 1.65rem;
    border-right: 1px #094768 solid;
    box-sizing: border-box;
}

#data-list .title li:last-child {
    border: none;
}

#main-list {
    overflow: auto;
    height: 7.85rem;
}

#main-list::-webkit-scrollbar {
    width: 0.06rem;
    background-color: #0a3f5e;
    border-radius: 3px;
}

#main-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 3px;
    background-color: #0a3f5e;
}

#main-list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #0396c2;
}

#main-list .main-item {
    height: 0.65rem;
    overflow: hidden;
    box-sizing: border-box;
}

#main-list .main-item:hover {
    background: linear-gradient(rgba(0, 187, 236, .1), rgba(0, 187, 236, 0), rgba(0, 187, 236, .1));
    border-top: 0.01rem #0578a1 solid;
    border-bottom: 0.01rem #0578a1 solid;
}

#main-list .main-item li {
    float: left;
    height: 0.65rem;
    line-height: 0.65rem;
    text-align: center;
    width: 1.65rem;
    overflow: hidden;
}

#main-list .main-item:hover li {
    line-height: 0.63rem;
}
#main-list .main-item:hover li .lbs{
    margin-top: 0.22rem;
}
#main-list .main-item:hover li .num{
    margin-top: 0.22rem;
}
#main-list .main-item li img {
    width: 0.28rem;
    height: 0.28rem;
    vertical-align: middle;
}

#main-list .main-item li input {
    visibility: hidden;
}

#main-list .main-item li .lbs {
    display: block;
    background: url(../../img/data/radio.png) no-repeat;
    background-size: cover;
    width: 0.2rem;
    height: 0.2rem;
    margin-top: 0.23rem;
    margin-left: 0.5rem;
    float: left;
}
#main-list .main-item li .num{
    display: block;
    width: 0.2rem;
    height: 0.2rem;
    line-height: 0.2rem;
    margin-top: 0.23rem;
    margin-left: 0.1rem;
    float: left;

}

#main-list .main-item li .lbs.on {
    background: url(../../img/data/radio-on.png) no-repeat;
    background-size: cover;
}

#main-list .main-item li:nth-child(2),
#data-list .title li:nth-child(2) {
    width: 2.5rem;
    text-align: left;
    text-indent: 0.2rem;
}

#main-list .main-item li:nth-child(6),
#data-list .title li:nth-child(6) {
    width: 2rem;
}

#main-list .main-item li:nth-child(7),
#data-list .title li:nth-child(7) {
    width: 1rem;
}

#main-list .main-item:nth-child(even) {
    background-color: #0c2642;
}
